body {
  margin: 0;
  height:100%;
}

header {
  width: 100%;
  border: 0;
  height: 10%;
  text-align: center;
  background-color: #073B4C;
  color: white;
  font-weight: 600;
  font-size: x-large;
}

html {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: #f7fff6;
  font-family: "MedievalSharp";
}

h2 {
  font-size: large;
}

main {
  height: 80%;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

section {
  background-image: url(assets/section-pillar.png);
  width: 25%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    30%{opacity: 0;}
    100% {opacity: 1;}
  }

.event-text {
  height: 80%;
  width: 40%;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.player-section1 {
  /* background-image: url(assets/snek.svg); */
}

.player-section2 {
  /* background-image: url(assets/direwolf.png); */
}

.tictactoe {
  background-color: #118AB2;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quad1 {
  border-left: 0px;
  border-top: 0px;
}

.quad2 {
  border-top: 0px;
}

.quad3 {
  border-right: 0px;
  border-top: 0px;
}

.quad4 {
  border-left: 0px;
}

.quad6 {
  border-right: 0px;
}

.quad7 {
  border-left: 0px;
  border-bottom: 0px;
}

.quad8 {
  border-bottom: 0px;
}

.quad9 {
  border-right: 0px;
  border-bottom: 0px;
}

.wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
